@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap')

@import "theme"
@import "init"


body
    height: 100vh
    background: var(--mute-color)


.pat2
    background-image: repeating-linear-gradient(to right, var(--default-color) 0 10px, transparent 10px 20px)
    background-size: 20px

.sticky-sidebar
    +media-up(md)
        @supports (position: sticky)
            position: sticky
            top: 80px


.sidebar
    +media-up(md)
        min-height: 100vh