build
node_modules
public
src/components
src/context
src/hooks
src/data
src/App.js
src/index.js
/hooks
scratch/*


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.yarn
.yarn*
.idea
.idea*

npm-debug.log*
yarn-debug.log*
yarn-error.log*


sass/style.sass