body
    font-size: var(--global-font-size, 16px)
    max-width: 100%
    overflow-x: hidden !important
    line-height: var(--global-line-height, 1.68)
    font-family: var(--global-body-font, sans-serif)
    color: var(--global-color, #333)
    background: var(--global-bg-color, #fbfafa)