.wrapper
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    width: 100%
    max-width: $max-screen-width
    padding: 0 var(--global-padding, 15px)

    &--fluid
        display: flex
        flex-direction: column
        margin-left: auto
        margin-right: auto
        width: 100%
        padding: 0 var(--global-padding, 15px)

.row
    position: relative
    display: flex
    flex: 1
    margin-left: var(--global-negative-padding, -15px)
    margin-right: var(--global-negative-padding, -15px)
    margin-bottom: var(--global-padding, 15px)
    flex-wrap: wrap

    &--reverse
        flex-direction: row-reverse

+columns