
.nav
    background-color: var(--nav-background-color, nav(background))
    min-height: var(--nav-height, nav(height))
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding: var(--nav-padding, nav(padding)) 0
    user-select: none

    &--fixed
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 100

    &__wrapper
        position: relative
        width: 100%
        max-width: $max-screen-width
        padding: 0 var(--global-padding, 15px)
        +media-nav
            align-items: center
            display: flex

    &--fluid
        & .nav__wrapper
            max-width: 100%

    &__trigger
        display: flex
        justify-content: center
        align-items: center
        height: var(--nav-trigger-size, nav(trigger, size))
        width: var(--nav-trigger-size, nav(trigger, size))
        color: var(--nav-trigger-color, nav(trigger, color))
        background: var(--nav-trigger-background, nav(trigger, background))
        border-width: var(--nav-trigger-width, nav(trigger, border-width))
        border-color: var(--nav-trigger-border-color, nav(trigger, border-color))
        border-radius: var(--nav-trigger-border-radius, nav(trigger, border-radius))
        border-style: solid
        cursor: pointer

        +media-nav
            display: none

    &__container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__brand
        display: flex
        align-items: center
        font-size: var(--nav-brand-font-size, nav(brand, font-size))
        line-height: var(--nav-height, nav(height))
        font-family: var(--nav-brand-font-family, nav(brand, font-family))
        color: var(--nav-brand-color, nav(brand, color))
        a
            text-decoration: none
            color: var(--nav-brand-color, nav(brand, color))

    & .gap
        gap: var(--nav-links-gap, nav(links, gap))

    &__responsive
        display: none
        padding-bottom: var(--global-padding, 15px)
        +media-nav
            display: flex
            padding-bottom: 0

    &--open
        display: block

    &__link
        &s
            padding: 0
            margin: 0
            list-style: none
            +media-nav
                display: flex

        a
            height: var(--nav-button-height, nav(button, height))
            line-height: var(--nav-button-height, nav(button, height))
            font-family: var(--nav-links-font-family, nav(links, font-family))
            background-color: var(--nav-links-background, nav(links, background))
            color: var(--nav-links-color, nav(links, color))
            text-decoration: none
            display: block
            padding: 0 var(--nav-button-height, nav(button, padding))

        &:hover,
        &--active
            a
                background-color: var(--nav-links-background-hover, nav(links, background-hover))
                color: var(--nav-links-color-hover, nav(links, color-hover))

